
<div class="container">
<div class="buttonContainer" *ngFor="let form of forms.my_forms">
  <button (click)="openLink(form.Form_name)">{{ form.Form_name }}</button>
  <br>
  <button (click)="show_responses(form.Form_name)">Show Responses</button>
  <br>
  <!-- <button (click)="downloadCSV(form.Form_name)">Download Responses</button> -->
</div>
</div>

<!-- <button (click)="show_responses()">Show Responses</button> -->

<table id="excel-table">
<tr>
<th *ngFor="let question of form_responses.question">{{question}}</th>
</tr>
<tr *ngFor="let users of form_responses.answers">
<td *ngFor="let answer of users">{{answer}}</td>
</tr>
</table>




<!--
  <div class="buttonContainer" *ngFor="let form of forms">
    <button>{{ form.link }}</button>
  </div>

  <div class="buttonContainer" *ngFor="let form of forms">
    <button>{{ form.downloadLink }}</button>
  </div> -->
