

<div>

  <div>
    <h1>Title</h1>
      <h1>{{data.response[0].Title}}</h1>
      <hr>
    </div>
    
    <h1>username</h1>
    <input placeholder="username" type="text" [(ngModel)]="username">
    <hr>
    
    <h1>user email</h1>
    <input placeholder="user email" type="text" [(ngModel)]="useremail">
    <hr>

    <div *ngFor="let item of this.data.response; let i = index">
      <ng-container [ngSwitch]="item.Type">
        
        <div *ngSwitchCase="'short answer'">
          <!-- <div class="type">{{item.Type}}</div> -->
          <h1>{{item.question}}</h1>
          <input type="text" [placeholder]="item.Type" [name]="'short answer-' + item.question">
          <hr>
        </div>
    
    <div *ngSwitchCase="'number'">
      <!-- <div class="type">{{item.Type}}</div> -->
      <h1>{{item.question}}</h1>
      <input type="text" [placeholder]="item.Type" [name]="'number-' + item.question">
      <hr>
    </div>
    
    <div *ngSwitchCase="'email'">
      <!-- <div class="type">{{item.Type}}</div> -->
      <h1>{{item.question}}</h1>
      <input [placeholder]="item.Type" type="text" [name]="'email-' + item.question">
      <hr>
    </div>

     
    <div *ngSwitchCase="'date'">
      <div class="type">{{item.Type}}</div>
      <h1>{{item.question}}</h1>
      <input type="date" [name]="'date-' + item.question">
      <hr>
    </div>
    
    <p *ngSwitchDefault></p>
  </ng-container>
</div>

<button [disabled]="is_saved" (click)="saveForm()">saveForm</button>
</div>