
<div>
      <div class="type">Title</div>
      <h1>{{data.response[0].Title}}</h1>
      <hr>
</div>

<h1>username</h1>
<input type="text" [(ngModel)]="username">
<hr>

<h1>user email</h1>
<input type="text" [(ngModel)]="useremail">
<hr>

<div *ngFor="let item of this.data.response; let i = index">
  <ng-container [ngSwitch]="item.Type">

    <div *ngSwitchCase="'Short Answer'">
      <div class="type">{{item.Type}}</div>
      <h1>{{item.question}}</h1>
      <input type="text" [name]="'Short Answer-' + item.question">
      <hr>
    </div>

    <div *ngSwitchCase="'Number'">
      <div class="type">{{item.Type}}</div>
      <h1>{{item.question}}</h1>
      <input type="text" [name]="'Number-' + item.question">
      <hr>
    </div>

    <div *ngSwitchCase="'Email'">
      <div class="type">{{item.Type}}</div>
      <h1>{{item.question}}</h1>
      <input type="text" [name]="'Email-' + item.question">
      <hr>
    </div>

    <p *ngSwitchDefault></p>
  </ng-container>
</div>

<button (click)="saveForm()">saveForm</button>